body {
}

.navbar2 {
    margin-bottom: 20px;
    background-color: #0A1C51;
    color: white;
}


.jumbotron2 {
    height: 700px;
    background-color: #F4F1BB;
    border-style: solid;
    border-width: 1px;
    border-color: #9BC1BC;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #A1C3D8;
}

.row2 {
    margin-left: 0px;
    margin-right: 0px;
}

.AnswerStyle2 {
    background-color: #F4F1BB;
    margin-bottom: 3em;
    border-radius: 25px;
    padding: 2em;
}

.commentStyle2 {
    background-color: #EDE6C0;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
}

.markStyle2 {
    background-color: #F4F1BB;
}

.btn-outline-dark {
    background-color: #9BC1BC;
}

    .btn-outline-dark:hover {
        background-color: #5CA4A9;
    }
