body {
}

.navbar2 {
    margin-bottom: 20px;
    background-color: #0A1C51;
    color: white;
}


.jumbotron2 {
    height: 600px;
    background-color: #95CAEB;
    border-style: solid;
    border-width: 1px;
    border-color: royalblue;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #A1C3D8;
}

.row2 {
    margin-left: 0px;
    margin-right: 0px;
}

.AnswerStyle2 {
    background-color: #a7bfe8;
    margin-bottom: 3em;
    border-radius: 25px;
    padding: 2em;
}

.commentStyle2 {
    background-color: #e5d7a0;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
}

