body {
}

.navbar2 {
    margin-bottom: 20px;
    background-color: #0A1C51;
}


.jumbotron2 {
    height: 600px;
    background-color: #95CAEB;
    border-style: solid;
    border-width: 1px;
    border-color: royalblue;
}


