<head>
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../css/style.css" rel="stylesheet" />
</head>

<div class="jumbotron jumbotron-fluid jumbotron2 container">

    <h1 style="margin-bottom: 1em; text-align: center;">Posts</h1>
    
    <!--<table class="table table-striped">
        <tbody>
            <div data-bind="foreach: posts">
                <tr>
                    <td data-bind="text: title"></td>
                </tr>
            </div>
        </tbody>
    </table>-->


    <div class="row row2" data-bind="foreach: posts">
            <div class="col-md-12" style="margin: 0.5em; text-align: center">
                <a href="#" data-bind="click: $parent.showPost, text: title"></a>
            </div>
    </div>

</div>


<button class="btn btn-outline-dark my-2 my-sm-0" data-bind="click: function ( data ) {clickNextPrev(prev(), data) }, enable: prevEnable">Prev</button>
<button class="btn btn-outline-dark my-2 my-sm-0" data-bind="click: function ( data ) {clickNextPrev(next(), data) }, enable: nextEnable">Next</button>

