<head>
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../css/style.css" rel="stylesheet" />
</head>

<div class="jumbotron jumbotron-fluid jumbotron2 container">

        
        <div class="row" data-bind="foreach: posts">
            <div class="col-md-4" style="border: 1px solid black;">
                <p data-bind="click: $parent.showPost, text: title"></p>
            </div>
        </div>

</div>


<button class="btn btn-outline-dark my-2 my-sm-0" data-bind="click: function ( data ) {clickNextPrev(prev(), data) }, enable: prevEnable">Prev</button>
<button class="btn btn-outline-dark my-2 my-sm-0" data-bind="click: function ( data ) {clickNextPrev(next(), data) }, enable: nextEnable">Next</button>

<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
