<head>
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../css/style.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="row AnswerStyle2">
        <div data-bind="foreach: answers">
            <div class="col-md-10">
                <p data-bind="html: body"></p>
                <div class="col-md-10 commentStyle2" data-bind="component: { name: 'comments', params: {url: $data.comments}}"></div>
            </div>
        </div>

    </div>
</div>