<nav class="navbar navbar-expand-lg navbar-light navbar2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-bind="click: goToPostList">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bind="click: goToSearchComponent">My Searches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bind="click: changeComponent">My Marks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bind="click: goToCloud">Cloud</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="text: dropdownButton().name"></button>
                    <div class="dropdown-menu" data-bind="foreach: searchMode">
                        <a class="dropdown-item" href="#" data-bind="click: $parent.changeDropdown,text:name"></a>


                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" data-bind="value: inputSearch">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" data-bind="click:clickSearch" ><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</nav>

